.SearchAutoComplete {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200;
}

.auto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

#auto {
  padding: 10px;
  height: 35px;
  width: 760px;
  border: 1px solid purple;
  margin: 10px;
  font-size: 20px;
}

.pos-rel {
  position: relative;
}

/* .autoContainer {
  position: absolute;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: goldenrod;
  background-color: whitesmoke;
  right: 10px;
  top: 70px;
  width: 770px;
  height: 600px;
  margin-left: 40px;
  overflow: auto;
} */
.auto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

#auto {
  padding: 10px;
  height: 35px;
  width: 760px;
  border: 1px solid purple;
  margin: 10px;
  font-size: 20px;
}

.pos-rel {
  position: relative;
}

.autoContainer {
  position: absolute;
  border-width: 0px 1px 1px 1px;
  border: 3px solid;
  border-color: gray;
  background-color: #fff;
  right: -2px;
  top: 59px;
  width: 626px;
  height: 217px;
  overflow: auto;
  padding: 10px;
  border-top: none;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  padding: 5px;
}

.option,
.span {
  font-size: 16px;
  text-transform: capitalize;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.darle-hover:hover {
  background-color: #ee8585;
  cursor: pointer;
  width: 100%;
}

@media (min-width: 368px) {
  .autoContainer {
    position: absolute;
    border-width: 0px 1px 1px 1px;
    border: 3px solid;
    border-color: gray;
    background-color: #fff;
    right: -1px;
    top: 72px;
    width: 403px;
    height: 184px;
    overflow: auto;
    padding: 10px;
    border-top: none;
  }
}

@media (min-width: 800px) {
  .autoContainer {
    position: absolute;
    border-width: 0px 1px 1px 1px;
    border: 3px solid;
    border-color: gray;
    background-color: #fff;
    right: -2px;
    top: 59px;
    width: 626px;
    height: 215px;
    overflow: auto;
    padding: 10px;
    border-top: none;
  }
}
