@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


.form-control {
    width:"20rem";
    background:"#F2F1F9";
     border:"none"; 
     padding:"0.5rem"
}

.btn-block {
    background-color: #ee8585;
    color: #ffffff;
    font-weight: bold;
    height: 50px;
    width: 100%;
}