.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
 
  margin-left: 3rem;
}

.search input {
  height: 60px;
  text-indent: 15px;
  border: 2px solid #d6d4d4;
  width: 770px;
}

.search input:focus {
  box-shadow: none;
}

.search .fa-search {
  position: relative;
  top: 20px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: #ee8585;
}

.btn-black {
  background-color: #ee8585;
  color: #ffffff;
  font-weight: bold;
  height: 50px;
  width: 100%;
}
