.shop {
  margin-top: 5%;
}

#buttonshopping {
  color: #fff;
  background-color: #212529;
  border-color: #212529;

  height: 50px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: background-color 0.3s;
  width: 65%;
  align-items: center;
  margin-top: 15px;
}

#buttonshopping:hover {
  background-color: #262b30be;
}
.boton-drop-review {
  color: #fff;
  background-color: #ee8585;
  border-color: #212529;
  margin-top: -8px;
  margin-bottom: 8px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: background-color 0.3s;
}

#buttondown {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
  width: 10rem;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: background-color 0.3s;
}

.ordenar {
  display: flex;
  flex-direction: row;
}
