.form-select {
  background-color: #2e2e2e;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  margin-top: 2%;
  font-size: 120%;
  width: 150%;
}

.label {
  font-size: 120%;
}

/*#tableleft {
  width: 25%;
}*/

#cont-main {
  position: relative;
  top: 50px;
}
