
 
  ul {
    list-style: none;
  }



 .btn {
   padding: .5em 1em;
   border-radius: 28px;
   background-color: #3498db;
   color: #ffffff;
   font-family: 'Lato', sans-serif;
   font-size: .8em;
   cursor: pointer;
   margin-top: 20px;
   text-decoration: none;
 }


.btn:hover {
  background-color: #3cb0fd;
  color: #ffffff;
}


 .caja {
  display:flex;
  flex-direction: column;
  border: 3px solid grey;
  background-color:rgb(214, 220, 226);
  width: 600px;
  height: 240px;
  margin-top: 40px;
  margin-right: 20px;
  padding: 20px;
  border: 3px solid grey;
  border-radius: 10px;
}

p {
  margin-bottom: 5px;
}
.caja-headers {
  display: flex;
  justify-content: flex-start;
  justify-content:space-between;
  width: 800px;
  margin-left: 50px;
  margin-top: 0px;
  height: 20px;
 }

.caja-datos {
  display: flex;
  align-items: center;
  justify-content: space-around;
 }

.caja-datosTexto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caja-nombre {
  font-size: 24px;
  font-family: Arial;
  text-align: center;

}


/*  Detalle */
.caja-detalle {
  display:flex;
  border: 3px solid grey;
  background-color:rgb(214, 220, 226);
  width: 1300px;
  height: 250px;
  margin-top: 20px;
  margin-right: 20px;
  padding: 25px;
  border: 3px solid grey;
  border-radius: 10px;
}


 