@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');




.site-footer {
    padding-bottom: 30px;  
}

footer {
    display: block; 
}


.wraper {
    padding: 0 30px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px; 
   
}

.grid-uniform {
    margin-left: -30px;
    list-style: none;
    margin: 0;
    padding: 0;
    list-style: none;
    
}

#idfalink1:hover {
    color: blue;
    font-size: large;
}

.one-third {
    width: 25%;
    
}

.grid__item {
    padding-left: 30px;
    box-sizing: border-box;
    float: left;
    min-height: 1px;
  
}

.site-footer__linklist {
    margin-bottom: 15px;
}

.no-bullets {
    list-style: none outside;
    margin-left: 0;
}

.ul {
    margin: 0 0 15px 20px;
    margin-bottom: 15px;
    margin-left: 20px;
    padding: 0;
}

.li {
    margin-bottom: .80em;
}

.site-footer a {
    color: #030303;
}

a {
    text-decoration: none;
    background: 0 0;
}

.social-icons .fa {
    padding-right: 6px;
}

.large--text-right {
    text-align: right !important;
}

.p {
    margin: 0 0 15px 0;
    text-rendering: optimizeLegibility;
}

.visually-hidden {
    clip: rect(0,0,0,0);
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
}

.site-footer__payment-icons {
    margin-left: -7.5px;
}

.payment-icons {
    user-select: none;
    cursor: default;
    margin-bottom: 0;
}

.payment-icons .icon {
    width: 38px;
    height: 24px;
    cursor: default;
}

.payment-icons li {
    margin: 0 0 7.5px 7.5px;
    cursor: default;
    display: inline-block;
}

svg:not(:root) {
    overflow: hidden;
}

.selectors-form {
    justify-content: flex-end;
    margin: 0 0 0 5px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.hr--large {
    margin: 10px auto;
    
    width: 80%;
    clear: both;
    border-top: 1px solid #1f2021;
    height: 1;
}
