.scroll-to-top {
  position: fixed;
  bottom: 30px;
  left: 90%;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: #212529;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}
.scroll-to-top .fa {
  margin-top: 10px;
  font-size: 40px;
  animation: scrollup 0.5s alternate ease infinite;
}

@keyframes scrollup {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(-1px);
  }
}

@media (max-width: 600px) {
  .scroll-to-top {
    display: none;
  }
}
