#buttonorder {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
  width: 60%;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

#tableright {
  width: 20rem;
}
.btn-dark {
  width: 200px;
}
