.pageNumbers{
    list-style: none;
    display: flex;
    justify-content: center;
}
.pageNumbers li{
    padding: 10px;
    border: 2px solid rgb(124, 122, 124);
    cursor: pointer;
}
.pageNumbers li.activo {
    background-color: rgb(66, 64, 64);
    color: white;
}
.pageNumbers li button{
    background-color: transparent;
    border: none;
    color: rgb(5, 5, 5);
    padding-top: 0%;
    padding-left: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}
.pageNumbers li button:hover{
    background-color: white;
    color:teal;
}
.activities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}